*.gz
*.sql
ini/*.ini
ini/*.json
adm_cookie.txt
cookie.txt
login.html
login_adm.html
login_adm2.html
my2pg*
my2pg/*

attachments/
files/
getAttachments.sh
images/
migrateLog
moveFiles.sh
FSC-20151103-21:00/
attachments_1103/
convertmysql.sh
filesOLD/
ini/config.jsonOLD
pg_convert/
pgconvert/
phpbbMigrate.sh.save

